'use strict';

module.exports = {
  express: {
    // Secret value for the express session
    session_secret: '0123456789'
  },

  gitlab: {
    // Base GitLab URL
    url: "https://gitlab.liu.se",
    // Access Token with admin access to the GitLab instance
    token: "<admin token>",

    // Information about the OAuth application
    client_id: "<id>",
    client_secret: "<secret>",
    client_callback: "<callback URL>",
  },

  // Same values as for connection with libpq
  postgres: {
    user: 'username',
    host: 'pg.example.com',
    database: 'db_name',
    password: 'password',
    port: 1234
  };

  // Same values as for https://gitlab.liu.se/help/api/users.md#user-creation
  creation_default: {
    external: true,
    projects_limit: 0,
    reset_password: true
  },

  // Can users deactivate external users created by them
  can_user_deactivate: false,
  // Default limit of external users
  external_limit: 5,

  // Apply configuration per user
  //
  // *user* will contain the parameters from https://gitlab.liu.se/help/api/users.md#for-admin
  per_user: function(user, config) {
    if (user.external) {
      // Disallow creation by external users
      config.external_limit = 0
    } else if (user.username =~ /^[a-z]{4}[0-9]{2}$/) {
      // Unlimited external users
      config.external_limit = null
    }
  }
}
